html,
body {
  margin: 0px;
}

.question-container {
  font-family: sans-serif;
  display: grid;
  grid-template-rows: 10fr 2fr;
  height: 60vh;
  width: 45vw;
  max-width: 800px;
  /* min-width: 350px; */
  /* min-height: 500px; */
  position: fixed;
  bottom: 0;
  right: 0;
}

.question-container .label {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 5px;
}

.question-container .label > div {
  background-color: #79589f;
  padding: 0px 20px;
  color: white;
  border-radius: 10% / 50%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0px 0px 10px 2px rgba(66, 64, 64, 0.5);
}

.question-container .label > div > p {
  width: 200px;
}

.question-container > section:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: inherit;
}

.question-container > section:first-child > div.score {
  position: absolute;
  top: 40px;
  right: 15px;
  padding: 0px 10px;
  background-color: #79589f;
  color: #fff;
  border-radius: 100%;
}

.question-container .slider-container {
  height: 90%;
  padding: 10px;
  margin: 0px;
  /* background: url(./Scattered-Forcefields.svg) center center no-repeat; */
  /* background-size: cover; */
  /* background-color: rgba(243, 243, 242, 0.61); */
  background: white;
  box-shadow: 1px 2px 10px 2px rgba(66, 64, 64, 0.5);
  border-radius: 10px;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  display: flex;
}

.question-container .slider-container > div {
  scroll-snap-align: center;
  flex: 0 0 100%;
  margin: 0 20px 0 0;
}

.question-container .question {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr;
  align-items: center;
}
.question-container .question .holder {
  padding: 20px;
  border-bottom: 1px solid #79589f;
}
.question-container .question .options {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-items: center;
}

.question-container .question .options > div {
  height: 50px;
  width: 90%;
  border-radius: 25px;
  /* margin: 10px; */
  border: 1px solid #79589f;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: 200ms ease;
  background-color: white;
}

.question-container .question .options > div:hover {
  color: white;
  background-color: #79589f;
  box-shadow: 0px 0px 5px 1px rgb(156, 139, 139);
}

.answer-shown .options > div {
  pointer-events: none;
}

.question-container .question .options > div > span {
  margin: 10px;
  margin-left: 20px;
  position: absolute;
  left: 0;
}

.question-container > section:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
}

.question-container > section:last-child > a {
  padding: 10px 20px;
  margin: 10px;
  background-color: #79589f;
  border: 0;
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
  border-radius: 19px;
  cursor: pointer;
  transition: 200ms ease;
  text-transform: capitalize;
  text-decoration: none;
}

.question-container > section:last-child > a:focus {
  outline: none;
}

.question-container > section:last-child > a:hover {
  transform: scale(1.08);
}

.wrong {
  color: white;
  animation: wrong-anim 150ms linear 3 forwards;
}

.right {
  color: white;
  animation: right-anim 150ms linear forwards;
}

@keyframes right-anim {
  to {
    background-color: green;
  }
}

@keyframes wrong-anim {
  to {
    background-color: red;
  }
}

@media only screen and (max-width: 1024px) {
  .question-container {
    position: relative;
  }
  .question-container {
    width: 100vw;
    height: 500px;
  }
  .question-container .question .options {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}
